* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #232323;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-task {
    background-color: #464646;
    padding: 20px;
}

.tasks {
    background-color: #464646;
    text-align: center;
}

.task {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    padding: 5px 10px;
    max-height: 200px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
}   

.task button {
    border: none;
    background-color: red;
    color: white;
    padding: 5px;
    transition: 0.3s;
}

.task button:hover {
    transform: scale(1.06);
    background-color: lightsalmon;
    color: black;
}

input {
    padding: 12px;
    border: none;
    transition: 0.3s;
}

.input-task button {
    padding: 12px;
    border: none;
    transition: 0.3s;
    background-color: black;
    color: white;
}

.input-task button:hover {
    transform: scale(1.05);
    background-color: gray;
    color: black;
}

.input-task button:active {
    transform: scale(0.90);
    background-color: white;
    color: white;
}